<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>CreateRealCustomerServlet</servlet-name>
        <servlet-class>servlet.CreateRealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLegalCustomerServlet</servlet-name>
        <servlet-class>servlet.CreatLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRealCustomerServlet</servlet-name>
        <servlet-class>servlet.UpdateRealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLegalCustomerServlet</servlet-name>
        <servlet-class>servlet.UpdateLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRealCustomerServlet</servlet-name>
        <servlet-class>servlet.SearchRealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLegalCustomerServlet</servlet-name>
        <servlet-class>servlet.SearchLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRealCustomerServlet</servlet-name>
        <servlet-class>servlet.DeleteRealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLegalCustomerServlet</servlet-name>
        <servlet-class>servlet.DeleteLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveRealCustomerChangesServlet</servlet-name>
        <servlet-class>servlet.SaveRealCustomerChangesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveLegalCustomerChangesServlet</servlet-name>
        <servlet-class>servlet.SaveLegalCustomerChangesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateRealCustomerServlet</servlet-name>
        <url-pattern>/CreateRealCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRealCustomerServlet</servlet-name>
        <url-pattern>/SearchRealCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLegalCustomerServlet</servlet-name>
        <url-pattern>/SearchLegalCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRealCustomerServlet</servlet-name>
        <url-pattern>/DeleteRealCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLegalCustomerServlet</servlet-name>
        <url-pattern>/DeleteLegalCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRealCustomerServlet</servlet-name>
        <url-pattern>/UpdateRealCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLegalCustomerServlet</servlet-name>
        <url-pattern>/UpdateLegalCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveRealCustomerChangesServlet</servlet-name>
        <url-pattern>/SaveRealCustomerChangesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveLegalCustomerChangesServlet</servlet-name>
        <url-pattern>/SaveLegalCustomerChangesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLegalCustomerServlet</servlet-name>
        <url-pattern>/CreateLegalCustomerServlet</url-pattern>
    </servlet-mapping>
</web-app>
